body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:wheat;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
/* Navigation Bar Styles */


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
}

/* Fade animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
/* Navigation bar */

/* Navigation Bar Styles */
.navbar {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333; /* Background color for the navbar */
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: white; /* Text color for the links */
    font-weight: bold;
    padding: 14px 20px;
    display: inline-block;
}

.nav-link.home {
    font-size: 50px;
}

.nav-link:hover {
    background-color: #ddd; /* Background color on hover */
    color: black; /* Text color on hover */
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 500px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centered image */
.centered-image {
    max-width: 100%;
    max-height: 100%;
}

/* Fade animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Camera text */
.camera-text {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.th {
    background-color: #f2f2f2;
}
